:root{
    --Independence: #545E75;
    --BlueJeans: #63ADF2;
    --BabyBlueEyes: #A7CCED;
    --YaleBlue: #304D6D;
    --AirSuperiority: #82A0BC;
    --OffWhite:#f5f5f5;
    --LightGrey:#A9A9A9;

    --pViolet:#CC99C9;
    --pBlue:#9EC1CF;
    --pGreen:#9EE09E;
    --pYellow:#FDFD97;
    --pOrange:#FEB144;
    --pRed:#FF6663;

    --Huge:2.5em;
    --Large:1.5em;
    --Big:1.25em;
    --Small:.8em;
}

body{
    max-width:100%;
    margin:auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

h1 {
    color:var(--YaleBlue);
    font-size: var(--Large);
    text-transform: uppercase;
    margin-top:0;
    font-weight: normal;
    margin-bottom:20px;
}

h2 {
    color:var(--YaleBlue);
    font-size: var(--Big);
    font-weight: normal;
}

h3 {
    color:var(--YaleBlue);
    font-weight: normal;
    font-size: var(--Big);
}

.maincontainer{
    display: flex;
    flex-direction: row;
    background: var(--OffWhite);
    min-height: 100%;
}

.menubar {
    color:var(--YaleBlue);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: var(--Big);
}

.menubutton {
    margin-right:.5em;
    margin-top:1em;
    margin-bottom:1em;
}

.entrybutton {
    margin-right:.5em;
    margin-top:1em;
    margin-bottom:1em;
    margin-left:.5em;
    font-size: .8em;
}

.entrybutton:hover {
    color:var(--BlueJeans);
    cursor: pointer;
}


.menucolumn{
    display: flex;
    flex-direction: column;
}

.menurow:hover{
    color:var(--BlueJeans);
    cursor: pointer;
}

.menurow{
    display: flex;
    flex-direction: row;
}

.arrowcontainer{
    display:flex;
}

.dropdownarrow{
    
}

.dropdownimg{
    margin:auto;
    display:block;
    padding-top: 0.3em;
}

.sidebar{
    max-width:18%;
    background-color: white;
    position:sticky;
    top:0;
    left:0;
    height:100vh;
    padding-left:35px;

}

.mobilesidebar{
    width:30vh;
    height:100vh;
    background-color: white;
    z-index: 9999999999999999;
    position:fixed;
    left:0;
    top:0;
}

.maintitle{
    font-size:var(--Huge);
    display:block;
    font-family: 'Raleway', sans-serif;
    color: #242526;
    padding-left:0;
    margin-top:40px;
}

.subtitle{
    display:block;
    font-family: 'Raleway', sans-serif;
    color: var(--LightGrey);
    line-height: 150%;
    margin-top:20px;
    font-size: var(--Big);
    padding-right:20px;
}

.content{
    max-width:40%;
    display:block;
    background: white;
    margin-left:20px;
    padding-left:40px;
    padding-right:40px;
    padding-top:100px;
    padding-bottom: 150px;
}

.articlefig{
    max-width:100%;
    display:block;
    margin:auto;
}

.articleimg{
    max-width:80%;
    max-height:60vh;
    display:block;
    margin:auto;
}

.articlecaption{
    margin:auto;
    text-align: center;
    font-size: var(--Small);
    padding:10px;
}

.galleryimg{
    max-width:200px
}

.content{
    max-width:50%;
}

.copyright{
    font-size:.5em;
    color:var(--LightGrey);
    position:fixed;
    bottom:10;
    left:0;
    margin-left:35px;
}

.socials{
    display:flex;
    flex-direction: row;
    margin-bottom:1em;

}

.socialicon{
    display:block;
    height:16px;
    width:16px;
    padding:5px;
}

.subtitlelink:hover{
    color: var(--BabyBlueEyes);
    cursor: pointer;
}

.twocolumn{
    display:flex;
    flex-direction: row;
}

.leftcolumn, .rightcolumn{
    width:50%
}

.articlesubheading{
    font-size: var(--Small);
}

.articletable, .articletablehead, .articletablebody{
    margin:auto;
    border: 0;
    text-align:center;
}

th, td {
    padding: 10px;
}

code{
    font-size: 1.2em;
}

.equation{
    display:block;
    margin:auto;
}

.equationimg{
    display:block;
    margin:auto;
    width:100%;
    height:100%
}

.topbar{
    display:none;
    height:5vh;
    flex-direction: row;
    align-items:center;
}

.toptitle{
    text-align:left;
    width:100%;
    padding:10px;
    font-size:var(--Large);
    display:block;
    font-family: 'Raleway', sans-serif;
    color: #242526;
}

.hamburger{
    text-align:right;
    width:10%;
    padding:10px;
    cursor:pointer;
}

a{
    color:var(--YaleBlue)
}

a:hover{
    color:var(--BlueJeans)
}