:root{
    --Independence: #545E75;
    --BlueJeans: #63ADF2;
    --BabyBlueEyes: #A7CCED;
    --YaleBlue: #304D6D;
    --AirSuperiority: #82A0BC;
    --OffWhite:#f5f5f5;
    --LightGrey:#A9A9A9;
    --GhostBlue: #F8F8FF;

    --pViolet:#CC99C9;
    --pBlue:#9EC1CF;
    --pGreen:#9EE09E;
    --pYellow:#FDFD97;
    --pOrange:#FEB144;
    --pRed:#FF6663;

    --Gargantuan:3.5em;
    --Huge:2.5em;
    --Large:1.5em;
    --Big:1.25em;
    --Small:.8em;
}

body{
    max-width:100%;
    margin:auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

h1 {
    color:var(--YaleBlue);
    font-size: var(--Large);
    text-transform: uppercase;
    margin-top:0;
    font-weight: normal;
    margin-bottom:20px;
}

h2 {
    color:var(--YaleBlue);
    font-size: var(--Big);
    font-weight: normal;
}

h3 {
    color:var(--YaleBlue);
    font-weight: normal;
    font-size: var(--Big);
}

.maincontainer{
    display: flex;
    flex-direction: row;
    background: var(--OffWhite);
    min-height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f0f0f0; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #cdcdcd; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #a6a6a6; 
}

.menubar {
    color:var(--YaleBlue);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: var(--Big);
}

.menubutton {
    margin-right:.5em;
    margin-top:1em;
    margin-bottom:1em;
}

.entrybutton {
    margin-right:.5em;
    margin-top:1em;
    margin-bottom:1em;
    margin-left:.5em;
    font-size: .8em;
}

.entrybutton:hover {
    color:var(--BlueJeans);
    cursor: pointer;
}


.menucolumn{
    display: flex;
    flex-direction: column;
}

.menurow:hover{
    color:var(--BlueJeans);
    cursor: pointer;
}

.menurow{
    display: flex;
    flex-direction: row;
}

.arrowcontainer{
    display:flex;
}

.dropdownarrow{
    
}

.dropdownimg{
    margin:auto;
    display:block;
    padding-top: 0.3em;
}

.sidebar, .mobilesidebar{
    width:250px;
    min-width:250px;
    background-color: white;
    position:sticky;
    top:0;
    left:0;
    height:100vh;
    padding-left:35px;
    filter:drop-shadow(0 0 0.4rem lightgrey);
    scrollbar-width: thin;
    display:flex;
    flex-direction: column;
}

.sidebar:hover, .mobilesidebar:hover{
    overflow-y:auto;
}

.hidden{
    display:none;
}

.homecontent{
    height:100%;
    width:100%;
}

.mobilesidebar{
    width:400px;
    max-width:500px;
    z-index: 9999999999999999;
    position:fixed;
    left:0;
    top:0;
}

.maintitle, .maintitlehome{
    font-size:var(--Huge);
    display:block;
    font-family: 'Raleway', sans-serif;
    color: #242526;
    padding-left:0;
    margin-top:100px;
}

.maintitlehome{
    color:white;
}

.fasttrans{
    transition:500ms;
}

.slowtrans{
    transition:2s;
}

.subtitle{
    display:block;
    font-family: 'Raleway', sans-serif;
    color: var(--LightGrey);
    line-height: 150%;
    margin-top:20px;
    font-size: var(--Big);
    padding-right:20px;
}

.content{
    width: 35%;
    display: block;
    background: white;
    margin-left: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 100px;
    padding-bottom: 150px;
}

.articlefig{
    max-width:100%;
    display:block;
    margin:auto;
}

.articleimg{
    max-width:95%;
    max-height:60vh;
    display:block;
    margin:auto;
}

.articlecaption{
    margin:auto;
    text-align: center;
    font-size: var(--Small);
    padding:10px;
}

.galleryimg{
    max-width:200px
}

.copyright{
    font-size:.5em;
    color:var(--LightGrey);
    position:fixed;
    bottom:10px;
    left:0;
    margin-left:35px;
}

.socials{
    display:flex;
    flex-direction: row;
    margin-bottom:1em;
}

.socialicon{
    display:block;
    height:16px;
    width:16px;
    padding:5px;
}

.subtitlelink:hover{
    color: var(--BabyBlueEyes);
    cursor: pointer;
}

.twocolumn{
    display:flex;
    flex-direction: row;
}

.leftcolumn, .rightcolumn{
    width:50%
}

.articlesubheading{
    font-size: var(--Small);
}

.articletable, .articletablehead, .articletablebody{
    margin:auto;
    border: 0;
    text-align:center;
}

th, td {
    padding: 10px;
}

code{
    font-size: 1.2em;
}

.equation{
    display:block;
    margin:auto;
}

.equationimg{
    display:block;
    margin:auto;
    width:100%;
    height:100%
}

.topbar{
    z-index: 999999999999999999999;
    display:none;
    height:5vh;
    flex-direction: row;
    align-items:center;
    position:sticky;
    top:0;
    background-color: white;
    filter:drop-shadow(0 0 0.2rem lightgrey);
}

.toptitle{
    text-align:left;
    width:100%;
    padding:10px;
    margin-left:10px;
    font-size:var(--Large);
    display:block;
    font-family: 'Raleway', sans-serif;
    color: #242526;
}

.hamburger{
    text-align:right;
    width:10%;
    padding:10px;
    cursor:pointer;
}

a{
    color:var(--YaleBlue)
}

a:hover{
    color:var(--BlueJeans)
}

strong{
    font-weight:600;
}

.backgroundimg, .backgroundimg2{
    width:100%;
    height:100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;
}

.backgroundimg2{
    height:75vh;
}

.homeblock{
    min-height:35vh;
    width:80%;
    background-color: var(--OffWhite);
    margin:auto;
}

.homeblockcontainer{
    background-color: white;
    width:50%;
    margin:auto;
    padding-left:200px;
    padding-right:200px;
}

.homeblocktitle{
    text-align: center;
    font-size: var(--Huge);
    
    padding:1em;
    padding-top:1.25em;
    color:var(--YaleBlue)
}

.homeblocktext{
    
}

.homeblockbutton{
    padding-left:25%;
    padding-right:25%;
    text-align:center;
    padding-top:35px;
    font-size:var(--Large);
    color:var(--YaleBlue);
    padding-bottom:45px;
}

.homeblockbutton:hover{
    color:var(--BlueJeans);
    cursor:pointer;
}

.homesocials{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top:50px;
}

.homesocial{
    padding-left:15px;
    padding-right:15px;
}

/*.greetingbox, .greetingboxloaded{
    position: absolute;
    top: 15%;
    right: 5%;
    background-color: black;
    height: 85%;
    width: 525px;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity:0;
}*/

.greetingbox, .greetingboxloaded{
    position: absolute;
    background-color: black;
    top: 25%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    height: 60%;
    width: 600px;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity:0;
    margin:auto;
}

.greetingboxloaded{
    top: 20%;
    opacity: 1;
}

.notrans{
    transition:0;
}

.greetingtext{
    color: white;
    opacity: 1;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
}

.greetingtitle{
    color: white;
    font-size: 4em;
    margin-bottom: 0.5em;
}

.greetingsubbox{
    font-size: var(--Large);
    color: white;
    margin-bottom: 1em;
}


.greetingsubtitle{
    color: white;
    margin-bottom:1em;
}

.greetingsubtitle:hover{
    color: var(--BlueJeans);
    cursor: pointer;
}