/* Big screen devices (889px and above) */
@media only screen and (max-width: 800px) {
    body{
        font-size:12pt !important
    }
    content{
        width:100% !important
    }
    .gallery_button{
        display:none !important
    }
    .bigimg{
        margin-top: 7.5vh !important;
        max-height:85% !important;
    }
}

@media only screen and (min-width: 650px) and (max-width: 1199px) {
    .bigimg{
        margin-top: 7.5vh !important;
        max-height:85% !important;
    }
}

/* Big screen devices (889px and above) */
@media only screen and (max-width: 1200px) {
    .content, .gallerycontent {
        width:95%;
        max-width:95%;
        margin:auto;
    }
    .maintitle {
        font-size:var(--Huge);
    }
    .subtitle{
        display:none;
    }
    .sidebar{
        display:none;
    }
    body{
        font-size:14pt
    }
    .topbar {
        display: flex;
        padding: 10px;
        max-height: 7.5vh;
        min-height: 5vh;;
    }
    .content{
        width:80%;
        max-width:80%;
        padding-left:60px;
        padding-right:60px;
        padding-top:60px;
        min-width:0;
    }
    .twocolumn{
        flex-direction: column;
    }
    .leftcolumn, .rightcolumn{
        width: 100%;
    }
    .homeblockcontainer{
        background-color:white;
        width:80%;
        margin:auto;
        padding-left:50px;
        padding-right:50px;
    }
    .articletable{
        width:80%;
    }
    .gallery_button{
        font-size: 2em;
        padding:10px;
        margin-top: 7.5vh;
    }
    .bigimg{
        max-height:90%;
        margin-top:5vh;
    } 
    .thumbnail{
        height:375px;  
    }
    .greetingbox, .greetingboxloaded{
        height: 40%;
        width: 100%;
        margin-bottom: 200px;
    }
    .homeblock{
        min-height: 30vh;
    }
    .greetingtext{
        width: 80%;
        font-size: 1.5em;    
    }
    .homeblocktext{
        font-size:1.5em;
        padding-top:20px;
        padding-bottom:20px;
    }
    .hamburgersvg{
        height:60px;
        width:60px;
    }
    .socialicon{
        width:25px;
        height:25px;
    }
    .socials{
        padding-right:40px;
    }
    .dropdownarrow, .dropdownimg{
        width:20;
        height:20;
    }
    :root{
        --Gargantuan:4em;
        --Huge:3em;
        --Large:2em;
        --Big:1.75em;
        --Small:.8em;
    }
}

/* Very big screen devices (1400px and above) */
@media only screen and (min-width: 1600px){
    .content{
        max-width:1050px;
    }
}


